*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Gayathri', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.menu-icons {
  position: fixed;
  top: 2rem;
  right: 3rem;
  z-index: 2500;
  padding: .5rem;
  cursor: pointer;
}

.menu-icons i {
  font-size: 3rem;
  background-color: blueviolet;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close {
  display: none;
}

header::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  opacity: 0;
  transform: translate(-100%,-100%);
  transition: opacity .6s transform .2s .6s;
  z-index: 999;
}

.sidebar {
  background-color: rgb(23, 23, 37);
  width: 28rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.6rem;
  transform: translateX(-100%);
  transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  z-index: 1000;
}

.nav-list {
  list-style: none;
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: blueviolet;
}

.nav-link {
  line-height: 8rem;
  font-size: 1.3rem;
  color: rgba(255,255,255,.4);
  text-transform: uppercase;
  letter-spacing: .3rem;
  transition: color .6s;
}

.nav-link.current {
  color: rgb(255, 255,255)
}

.nav-link:hover {
  color: rgba(255,255,255,.7)
}

.nav-link i {
  font-size: 2rem;
  margin-right: 1rem;
}

main {
  perspective: 100rem;
}

.zoom-content {
  transform-style: preserve3d();
  transition: transform .6s ease-in-out;
}

section {
  width: 100%;
}

.active .menu {
  display: none;
}


.active .close {
  display: block;
}

header.active::before{
  transform: translate(0,0);
  opacity: 1;
  transition: opacity .6s;
}

.active .sidebar {
  transform: translateX(0);
}

.active .zoom-content {
  transform: translate3d(0, 0, -25rem);
}

#home {
  width: 100%;
  color: burlywood;
  background-image: url('./img/cool-background.png');
}

.welcome {
  width: 100%;
  padding: 2rem;
  letter-spacing: .4rem;
  background-color: rgba(23, 23, 37,.8);
}

.text-box {
  margin: auto;
  padding: 2rem 10rem;
}

.welcome h1 {
  font-size: 5rem;
  font-family: 'Lobster', cursive;
  line-height: 7rem;
}

.welcome h2 {
  font-size: 4rem;
  line-height: 6rem;
}

.welcome li {
  list-style: none;
  font-size: 2rem;
}

.welcome i {
  font-size: 3rem;
  margin-right: 1rem;
  color: blueviolet;
}

#about {
  width: 80%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 2rem;
}

#about h1 {
  font-size: 5rem;
  text-align: center;
}

.info-card {
  border: thin solid gray;
  border-radius: .5rem;
  padding: 1.2rem;
  margin: 2rem auto;
  width: 80%;
  box-shadow: .5rem .5rem 1rem rgba(0,0,0,.4);
}

.title {
  font-weight: bolder;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: .2rem;
}

.title i {
  font-size: 3rem;
  margin-right: 2rem;
}


.story {
  font-size: 1.4rem;
  padding: 1rem;
  line-height: 2rem;
  text-align: justify;
}

.sub-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 4rem;
}

.intern {
  list-style: square;
  text-indent: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(23, 23, 37);
}

.social-icons {
  font-size: 3rem;
  padding: 1.3rem;
  border-radius: 50%;
  margin: .5rem;
  color: rgba(255,255,255,.7);
  transition: color .6s, background-color .6s;
}

.social-icons:hover {
  color: rgb(255, 255,255);
  background-color: rgba(255,255,255,.4);
}

@media screen 
  and (min-width: 70rem) {
    .sidebar {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding-bottom: 0;
      transform: translateX(0)
    }

    .menu-icons {
      display: none;
    }

    .nav-list {
      display: flex;
      justify-content: flex-end;
    }

    .nav-link {
      line-height: 1.2rem;
      margin: 2rem 2rem 2rem 0;
    }

    .nav-item {
      margin-right: 2rem;
    }

    .nav-item::before {
      content: '';
      display: none;
    }
    
    .nav-link.current::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: blueviolet;
    }

}